<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kairos</title>


    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/sidebar.css" />
        <link rel="stylesheet" href="~/css/Animations.css">
        <link rel="icon" type="image/png" href="~/images/kairosLogo/kairos_icon_green.png"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
        <div id="wrapper">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                        <img class="kairosLogo" src="~/images/kairosLogo/kairos_wordmark_white.png" alt="LOGO" />
                    </a>
                </div>
                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav extraPaddingBeneden DropdownUserMargin marginRechts">
                    <li>
                        @await Html.PartialAsync("_LoginPartial")
                    </li>
                </ul>
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse nieuweAchtergrond">
                    <ul class="nav navbar-nav side-nav intMidden">
                        <li id="homeIcoon">
                            <a asp-area="" asp-controller="Home" asp-action="Index"><img id="homePrent" src="~/images/iconen/home.png" class="icons" /></a>
                        </li>
                        <li id="nieuwIcoon">
                            <a asp-area="" asp-controller="Analyse" asp-action="WerkgeverKeuze"><img id="nieuwPrent" src="~/images/iconen/nieuw.png" class="icons" /></a>
                        </li>
                        <li id="archiefIcoon">
                            <a  asp-area="" asp-controller="Analyse" asp-action="AnalyseBekijken"><img id="archiefPrent" src="~/images/iconen/archief.png" class="icons" /></a>
                        </li>
                    </ul>
                </div>
                
            </nav>
            @if (TempData["error"] != null)
            {
                <div class="alert alert-danger tempdataStijl animated slideInDown">@TempData["error"]</div>
            }
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success tempdataStijl animated slideInDown">@TempData["message"]</div>
            }
            <div id="page-wrapper">
                <div class="container-fluid">
                    
                    <div class="row" id="main">
                        
                        <div class="col-sm-12 col-md-12 col-lg-12 well" id="content">

                            @RenderBody()
                        </div>
                    </div>
                    
                </div>
               
            </div>
          
        </div>


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/HoverIconen.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>