<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kairos</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/loginpage.css" />
        <link rel="icon" type="image/png" href="~/images/kairosLogo/kairos_icon_green.png" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    @if (TempData["error"] != null)
            {
        <div class="alert alert-danger tempdataStijl animated slideInDown">@TempData["error"]</div>
    }
    @if (TempData["message"] != null)
            {
        <div class="alert alert-success tempdataStijl animated slideInDown">@TempData["message"]</div>
    }
    <row>
        <div class="col-sm-12 col-md-12 col-lg-12 beetjeMargin text-center flex">

            <div class="kant1 col-lg-6 col-md-12 col-sm-12 dynamischeBreedte rechterKant" id="b">
                <div class="grid_12 columns borderShadow kleineFixes minBreedte maxBreedte">
                    <div class="tab style-1">

                        @RenderBody()

                    </div>
                </div>
            </div>
            <div class="kant2 col-lg-6 col-md-12 col-sm-12 dynamischeBreedte linkerKant" id="d">
                <div class="maxBreedte kleurtje2 borderShadow text-center">
                    <h1 class="paddingBoven">Kairos</h1>
                    <br />
                    <p>
                        Waarom zou een werkgever investeren in het tewerkstellen van personen met een grote afstand tot de arbeidsmarkt en/of functiecreatie? We zijn geneigd te denken dat we - ook managers en bedrijfsleiders - erg rationele wezens zijn, die (grote) beslissingen weloverwogen maken. Maar... zijn menselijke beslissingen wel zo rationeel als we denken?
                    </p>
                    <br />
                    <p>
                        Niet echt. Mensen beslissen op basis van eigen kennis, ervaring, inschattingsvermogen en intuïtie. We gaan er vanuit dat we daarmee in staat zijn om consistente en evenwichtige beslissingen te nemen of, anders gezegd, een rationele afweging te maken. De waarheid is echter heel anders. Veel van onze besluitvorming wordt door een automatische piloot-functie van onze hersenen gedaan. Met als gevolg dat wij, en ook werkgevers, veel beslissingen nemen op basis van vooroordelen in plaats van alle beschikbare informatie in overweging te nemen.
                    </p>
                    <br />
                    <p>
                        Het maken van een business case kan helpen om de besluitvorming te verbeteren, want het geeft betrouwbare, op feiten gebaseerde informatie en vermindert de subjectiviteit in beoordeling en besluitvorming. De kans dat de werkgever op jouw aanbod zal ingaan, vergroot naarmate je deze vraag duidelijk en zakelijk onderbouwd weet te beantwoorden.
                    </p>
                    <br />
                    <p>
                        Met dit model kan je werkgevers inzicht geven in de economische waarde van het werken met mensen met een grote afstand tot de arbeidsmarkt.
                    </p>
                </div>
                
            </div>
          </div>
    </row>
    

    @*<div id="flex">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" id="a">
            <div class="row customRij linkerKant">
                <div class="grid_12 columns borderShadow">
                    <div class="tab style-1">

                        @RenderBody()

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" id="b">
            <div class="mijnRij customRij rechterKant">
                <div class="kleurtje2 borderShadow">
                    <h1 class="paddingBoven">Kairos</h1>
                    <br />
                    <p>
                        Waarom zou een werkgever investeren in het tewerkstellen van personen met een grote afstand tot de arbeidsmarkt en/of functiecreatie? We zijn geneigd te denken dat we - ook managers en bedrijfsleiders - erg rationele wezens zijn, die (grote) beslissingen weloverwogen maken. Maar... zijn menselijke beslissingen wel zo rationeel als we denken?
                    </p>
                    <br />
                    <p>
                        Niet echt. Mensen beslissen op basis van eigen kennis, ervaring, inschattingsvermogen en intuïtie. We gaan er vanuit dat we daarmee in staat zijn om consistente en evenwichtige beslissingen te nemen of, anders gezegd, een rationele afweging te maken. De waarheid is echter heel anders. Veel van onze besluitvorming wordt door een automatische piloot-functie van onze hersenen gedaan. Met als gevolg dat wij, en ook werkgevers, veel beslissingen nemen op basis van vooroordelen in plaats van alle beschikbare informatie in overweging te nemen.
                    </p>
                    <br />
                    <p>
                        Het maken van een business case kan helpen om de besluitvorming te verbeteren, want het geeft betrouwbare, op feiten gebaseerde informatie en vermindert de subjectiviteit in beoordeling en besluitvorming. De kans dat de werkgever op jouw aanbod zal ingaan, vergroot naarmate je deze vraag duidelijk en zakelijk onderbouwd weet te beantwoorden.
                    </p>
                    <br />
                    <p>
                        Met dit model kan je werkgevers inzicht geven in de economische waarde van het werken met mensen met een grote afstand tot de arbeidsmarkt.
                    </p>
                </div>
            </div>
        </div>
    </div>*@
    






    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/LoginScreen.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>