@model Aalstprojecten2_groep4DOTNET.Models.ViewModels.Home.MailViewModel

@{
    ViewData["Title"] = "Inbox";
}

<link rel="stylesheet" href="~/css/ProfielAanpassen.css" />
<link rel="stylesheet" href="~/css/ContacteerAdmin.css" />

<div class="row">
    <div class="col-md-12">

        <div class="col-md-offset-2 col-md-8 text-center divOpmaak divBorder" style="min-height: 800px;">
            <div class="logo">
                <img src="~/images/login/login foto.png" class="breddtefixen" />
            </div>
            

            <div class="form-group col-md-12 text-left verwijderPaddingRechts" style="margin-bottom: 20px;">
                <p class="col-md-12" style="font-weight:bold;">Afzender: @Model.Afzender</p>
                <p class="col-md-12" style="font-weight:bold;">Ontvangen: @Model.DatumTijd</p>
            </div>

            <div class="form-group col-md-12 text-left verwijderPaddingRechts">
                <label asp-for="Onderwerp" class="col-md-12" style="font-size:24px;">@Model.Onderwerp</label>
                <div class="col-md-12 verwijderPaddingRechts">
                    <p style="font-size:18px; min-width: 80%; min-height:350px; background-color:#f5f5f5;">@Model.Inhoud</p>
                </div>
            </div>

            <div class="btn-group col-md-12 margins" role="group">
                <a asp-controller="Home" asp-action="BeantwoordMail" asp-route-id="@Model.MailId" class="btn btn-primary col-md-6 btn-lg marginBenedenKlein">beantwoord</a>
                <a asp-controller="Home" asp-action="OverzichtMailbox" class="btn btn-danger btn-lg col-md-6">Annuleer</a>
            </div>
        </div>

    </div>
</div>