@model Aalstprojecten2_groep4DOTNET.Models.ViewModels.Home.ProfielAanpassenViewModel

<form asp-controller="Home" asp-action="ProfielAanpassen" method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Email" type="hidden" />
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input value="@Model.Email" class="form-control" disabled/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Naam" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Naam" value="@Model.Naam" class="form-control" />
            <span asp-validation-for="Naam" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Voornaam" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Voornaam" value="@Model.Voornaam" class="form-control" />
            <span asp-validation-for="Voornaam" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NaamBedrijf" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NaamBedrijf" value="@Model.NaamBedrijf" class="form-control" />
            <span asp-validation-for="NaamBedrijf" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Straat" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Straat" value="@Model.Straat" id="route" class="form-control" />
            <span asp-validation-for="Straat" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Nummer" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Nummer" value="@Model.Nummer" id="street_number" class="form-control" />
            <span asp-validation-for="Nummer" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Bus" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Bus" value="@Model.Bus" class="form-control" />
            <span asp-validation-for="Bus" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Postcode" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Postcode" value="@Model.Postcode" id="postal_code" class="form-control" />
            <span asp-validation-for="Postcode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Gemeente" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Gemeente" value="@Model.Gemeente" id="locality" class="form-control" />
            <span asp-validation-for="Gemeente" class="text-danger"></span>
        </div>
    </div>
    <a asp-controller="Home" asp-action="WachtwoordAanpassen" class="btn btn-default">Wachtwoord aanpassen</a>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Opslaan</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-default">Keer terug</a>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/AutoComplete.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHogrgooACi21TbM_0F_uSU2vbJAYai24&libraries=places&callback=initAutocomplete" async defer></script>
}