@model Aalstprojecten2_groep4DOTNET.Models.ViewModels.AnalyseViewModels.AnalyseKost4ViewModel

@{
    ViewData["Title"] = "Kairos";
}

<link rel="stylesheet" href="~/css/AnalyseBekijken.css" />
<link rel="stylesheet" href="~/css/Baat1.css" />
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<link rel="stylesheet" href="~/css/ShowHideFormulier.css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="~/js/tableScript.js"></script>
<script src="~/js/ShowHideFormulier.js"></script>

<div class="row">
    <div class="col-md-3">
        <h2><a asp-controller="Analyse" asp-action="WerkgeverAanpassen">@ViewData["werkgever"]</a></h2>
    </div>
    <div class="col-md-6 text-center">
        <h2>Kosten</h2>
    </div>
    <div class="col-md-3 text-right">
        <div class="btn-group marginTopKlein" role="group">
            <a asp-controller="Analyse" asp-action="AnalyseKost" class="btn btn-primary btn-lg"><img src="~/images/iconen/kosten_wit.png" class="fototjeKosten" /></a>
            <a asp-controller="Analyse" asp-action="AnalyseOverzicht" class="btn btn-primary btn-lg"><img src="~/images/iconen/analyse_wit.png" class="fototjeKosten" /></a>
            <a asp-controller="Analyse" asp-action="AnalyseBaat1" class="btn btn-primary btn-lg"><img src="~/images/iconen/baten_wit.png" class="fototjeKosten" /></a>
        </div>
    </div>
</div>
<div>
    <h5></h5>
    <hr />
</div>

<div class="container">
    <div class="row form-group">
        <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                <li>
                    <a asp-controller="Analyse" asp-action="AnalyseKost">
                        <h4 class="list-group-item-heading">Stap 1</h4>
                        <p>Nieuwe functies</p>
                    </a>
                </li>
                <li>
                    <a asp-controller="Analyse" asp-action="AnalyseKost2">
                        <h4 class="list-group-item-heading">Stap 2</h4>
                        <p>Kosten aan maatwerkbedrijf via enclave of onderaanneming</p>
                    </a>
                </li>
                <li>
                    <a asp-controller="Analyse" asp-action="AnalyseKost3">
                        <h4 class="list-group-item-heading">Stap 3</h4>
                        <p>Extra structureel en materiaal huur</p>
                    </a>
                </li>
                <li class="active">
                    <a asp-controller="Analyse" asp-action="AnalyseKost4">
                        <h4 class="list-group-item-heading">Stap 4</h4>
                        <p>Extra structureel en materiaal huur</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>



    <div class="col-xs-12">
        <div class="col-md-12 well text-center">
            <div class="Blok1 text-center">
                <h3 class="text-left">1. Welke kosten moet u maken ter voorbereiding om dit te implementeren?</h3>
                <table class="table table-striped text-left test marginBottomGroot">
                    <thead class="achtergrondKleurVanDeTabelHeader">
                        <tr>
                            <th class="kleineBreedte"></th>
                            <th>Type</th>
                            <th>Bedrag</th>
                            <th class="kleineBreedte"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 1; i <= Model.AantalLijnenLijst1; i++)
                        {
                            <tr id="tr_0">
                                <td>@i.</td>
                                <td>@Model.Lijst1[i - 1].Beschrijving</td>
                                <td>@Model.Lijst1[i - 1].Bedrag.ToString("C")</td>
                                <td class="text-center">
                                    <a asp-controller="Analyse" asp-action="AnalyseKost4Punt1RijAanpassen" asp-route-id="@Model.Lijst1[i - 1].KostId" class="glyphicon glyphicon-edit marginRechtsEnFloatLeft"></a>
                                    <a asp-controller="Analyse" asp-action="AnalyseKost4Punt1RijVerwijderen" asp-route-id="@Model.Lijst1[i - 1].KostId" class="glyphicon glyphicon-remove"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <button class="btn btn-primary btn-lg text-center toverknop marginBenedenMidden">Nieuwe Kost</button>
                <form method="post" class="invulgegevens @(Model.ToonGroep1?"toonFormulier":"verbergFormulier")">
                    <h3>Gegevens van de nieuwe kost</h3>
                    <input asp-for="VolgendeLijn1" type="hidden" />
                    <span asp-validation-for="VolgendeLijn1" class="text-danger"></span>
                    <div class="invulveldjes1 opmaakInvulveldjes">
                        <div class="form-group opmaakFormGroup">
                            <input asp-for="Beschrijving1" id="type" class="form-control" placeholder="Type van voorbereiding" />
                            <span asp-validation-for="Beschrijving1" class="text-danger"></span>
                        </div>
                        <div class="form-group floatLinks">
                            <input asp-for="Bedrag1" id="Bedrag" class="form-control" placeholder="Bedrag van de voorbereiding" />
                            <span asp-validation-for="Bedrag1" class="text-danger"></span>
                        </div>
                    </div>

                    <button formaction="AnalyseKost4Punt1" class="btn btn-primary btn-lg text-center">Vul In</button>
                    <a class="btn btn-primary btn-lg text-center annuleerKnop">Annuleer</a>
                </form>
            </div>

            <div class="or-spacer">
                <div class="mask"></div>
            </div>

            <div class="Blok1 text-center">
                <h3 class="text-left">2. Hoeveel uren spendeert u jaarlijks aan extra administratie en interne begeleiding?</h3>
                <table class="table table-striped text-left test marginBenedenGroot">
                    <thead class="achtergrondKleurVanDeTabelHeader">
                        <tr>
                            <th class="kleineBreedte"></th>
                            <th>Uren</th>
                            <th>Bruto Maandloon Begeleider</th>
                            <th class="kleineBreedte"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 1; i <= Model.AantalLijnenLijst2; i++)
                        {
                            <tr id="tr_0">
                                <td>@i.</td>
                                <td>@Model.Lijst2[i - 1].Uren</td>
                                <td>@Model.Lijst2[i - 1].Maandloon.ToString("C")</td>
                                <td class="text-center">
                                    <a asp-controller="Analyse" asp-action="AnalyseKost4Punt2RijAanpassen" asp-route-id="@Model.Lijst2[i - 1].KostId" class="glyphicon glyphicon-edit marginRechtsEnFloatLeft"></a>
                                    <a asp-controller="Analyse" asp-action="AnalyseKost4Punt2RijVerwijderen" asp-route-id="@Model.Lijst2[i - 1].KostId" class="glyphicon glyphicon-remove"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


                <button class="btn btn-primary btn-lg text-center toverknop marginBenedenMidden">Nieuwe Kost</button>
                <form method="post" class="invulgegevens @(Model.ToonGroep2?"toonFormulier":"verbergFormulier")">
                    <h3>Gegevens van de nieuwe kost</h3>
                    <input asp-for="VolgendeLijn2" type="hidden" />
                    <span asp-validation-for="VolgendeLijn2" class="text-danger"></span>
                    <div class="invulveldjes1 opmaakInvulveldjes2">
                        <div class="form-group marginRechtsEnFloatLeft">
                            <input asp-for="Uren2" type="number" id="uren" class="form-control" placeholder="Aantal Uren" />
                            <span asp-validation-for="Uren2" class="text-danger"></span>
                        </div>
                        <div class="form-group floatLinks">
                            <input asp-for="Maandloon2" id="brutoMaandloonBegeleider" class="form-control" placeholder="Bruto Maandloon" />
                            <span asp-validation-for="Maandloon2" class="text-danger"></span>
                        </div>
                    </div>

                    <button formaction="AnalyseKost4Punt2" class="btn btn-primary btn-lg text-center">Vul In</button>
                    <a class="btn btn-primary btn-lg text-center annuleerKnop">Annuleer</a>
                </form>

            </div>

            <div class="or-spacer">
                <div class="mask"></div>
            </div>

            <div class="Blok1 text-center">
                <h3 class="text-left">3. Welke opleidingskosten moeten er gemaakt worden om de nieuwe kraachten op het gewenste niveau te krijgen?</h3>
                <table class="table table-striped text-left test marginBenedenGroot">
                    <thead class="achtergrondKleurVanDeTabelHeader">
                        <tr>
                            <th class="kleineBreedte"></th>
                            <th>Type</th>
                            <th>Bedrag</th>
                            <th class="kleineBreedte"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 1; i <= Model.AantalLijnenLijst3; i++)
                        {
                            <tr id="tr_0">
                                <td>@i.</td>
                                <td>@Model.Lijst3[i - 1].Beschrijving</td>
                                <td>@Model.Lijst3[i - 1].Bedrag.ToString("C")</td>
                                <td class="text-center">
                                    <a asp-controller="Analyse" asp-action="AnalyseKost4Punt3RijAanpassen" asp-route-id="@Model.Lijst3[i - 1].KostId" class="glyphicon glyphicon-edit marginRechtsEnFloatLeft"></a>
                                    <a asp-controller="Analyse" asp-action="AnalyseKost4Punt3RijVerwijderen" asp-route-id="@Model.Lijst3[i - 1].KostId" class="glyphicon glyphicon-remove"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <button class="btn btn-primary btn-lg text-center toverknop marginBenedenMidden">Nieuwe Opleidingskost</button>
                <form method="post" class="invulgegevens @(Model.ToonGroep3?"toonFormulier":"verbergFormulier")">
                    <h3>Gegevens van de nieuwe opleidingskost</h3>
                    <input asp-for="VolgendeLijn3" type="hidden" />
                    <span asp-validation-for="VolgendeLijn3" class="text-danger"></span>
                    <div class="invulveldjes1 opmaakInvulveldjes">
                        <div class="form-group opmaakFormGroup">
                            <input asp-for="Beschrijving3" id="type" class="form-control" placeholder="Type van kost" />
                            <span asp-validation-for="Beschrijving3" class="text-danger"></span>
                        </div>
                        <div class="form-group floatLinks">
                            <input asp-for="Bedrag3" id="Bedrag" class="form-control" placeholder="Bedrag van de kost" />
                            <span asp-validation-for="Bedrag3" class="text-danger"></span>
                        </div>
                    </div>

                    <button formaction="AnalyseKost4Punt3" class="btn btn-primary btn-lg text-center">Vul In</button>
                    <a class="btn btn-primary btn-lg text-center annuleerKnop">Annuleer</a>
                </form>

            </div>


            <div class="or-spacer">
                <div class="mask"></div>
            </div>

            <div class="Blok1 text-center">
                <h3 class="text-left">4. Aanwelke kosten kan nog meer worden gedacht?</h3>
                <table class="table table-striped text-left test marginBenedenGroot">
                    <thead class="achtergrondKleurVanDeTabelHeader">
                        <tr>
                            <th class="kleineBreedte"></th>
                            <th>Type</th>
                            <th>Bedrag</th>
                            <th class="kleineBreedte"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 1; i <= Model.AantalLijnenLijst4; i++)
                        {
                            <tr id="tr_0">
                                <td>@i.</td>
                                <td>@Model.Lijst4[i - 1].Beschrijving</td>
                                <td>@Model.Lijst4[i - 1].Bedrag.ToString("C")</td>
                                <td class="text-center">
                                    <a asp-controller="Analyse" asp-action="AnalyseKost4Punt4RijAanpassen" asp-route-id="@Model.Lijst4[i - 1].KostId" class="glyphicon glyphicon-edit marginRechtsEnFloatLeft"></a>
                                    <a asp-controller="Analyse" asp-action="AnalyseKost4Punt4RijVerwijderen" asp-route-id="@Model.Lijst4[i - 1].KostId" class="glyphicon glyphicon-remove"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <button class="btn btn-primary btn-lg text-center toverknop marginBenedenMidden">Nieuwe Kost</button>
                <form method="post" class="invulgegevens @(Model.ToonGroep4?"toonFormulier":"verbergFormulier")">
                    <h3>Gegevens van de nieuwe kost</h3>
                    <input asp-for="VolgendeLijn4" type="hidden" />
                    <span asp-validation-for="VolgendeLijn4" class="text-danger"></span>
                    <div class="invulveldjes1 opmaakInvulveldjes">
                        <div class="form-group marginRechtsEnFloatLeft">
                            <input asp-for="Beschrijving4" id="type" class="form-control" placeholder="Type van kost" />
                            <span asp-validation-for="Beschrijving4" class="text-danger"></span>
                        </div>
                        <div class="form-group floatLinks">
                            <input asp-for="Bedrag4" id="Bedrag" class="form-control" placeholder="Bedrag van de kost" />
                            <span asp-validation-for="Bedrag4" class="text-danger"></span>
                        </div>
                    </div>

                    <button formaction="AnalyseKost4Punt4" class="btn btn-primary btn-lg text-center">Vul In</button>
                    <a class="btn btn-primary btn-lg text-center annuleerKnop">Annuleer</a>
                </form>
            </div>

            <a asp-controller="Analyse" asp-action="AnalyseKost3" class="btn btn-primary btn-lg">Vorige</a>
            <a asp-controller="Analyse" asp-action="AnalyseOverzicht" class="btn btn-primary btn-lg">Overzicht</a>
            <a asp-controller="Analyse" asp-action="AnalyseBaat1" class="btn btn-primary btn-lg">Volgende</a>
        </div>
    </div>

</div>