@model Aalstprojecten2_groep4DOTNET.Models.ViewModels.AnalyseViewModels.AnalyseBaat3ViewModel

@{
    ViewData["Title"] = "Kairos";
}

<link rel="stylesheet" href="~/css/AnalyseBekijken.css" />
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<link rel="stylesheet" href="~/css/Baat1.css" />
<link rel="stylesheet" href="~/css/ShowHideFormulier.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="~/js/tableScriptBaten.js"></script>
<script src="~/js/ShowHideFormulier.js"></script>
<script src="~/js/KostEnBaatVulIn/Baat3.js"></script>

<div class="row">
    <div class="col-md-3">
        <h2><a asp-controller="Analyse" asp-action="WerkgeverAanpassen">@ViewData["werkgever"]</a></h2>
    </div>
    <div class="col-md-6 text-center">
        <h2>Baten</h2>
    </div>
    <div class="col-md-3 text-right">
        <div class="btn-group marginTopKlein" role="group">
            <a asp-controller="Analyse" asp-action="AnalyseKost" class="btn btn-primary btn-lg"><img src="~/images/iconen/kosten_wit.png" class="fototjeKosten" /></a>
            <a asp-controller="Analyse" asp-action="AnalyseOverzicht" class="btn btn-primary btn-lg"><img src="~/images/iconen/analyse_wit.png" class="fototjeKosten" /></a>
            <a asp-controller="Analyse" asp-action="AnalyseBaat1" class="btn btn-primary btn-lg"><img src="~/images/iconen/baten_wit.png" class="fototjeKosten" /></a>
        </div>
    </div>
</div>
<div>
    <h5></h5>
    <hr />
</div>

<div class="container">

    <div class="row form-group">
        <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                <li>
                    <a asp-controller="Analyse" asp-action="AnalyseBaat1">
                        <h4 class="list-group-item-heading">Stap 1</h4>
                        <p>Lonen die vervangen worden</p>
                    </a>
                </li>
                <li>
                    <a asp-controller="Analyse" asp-action="AnalyseBaat2">
                        <h4 class="list-group-item-heading">Stap 2</h4>
                        <p>Uitzendkrachten, overuren en uitbesteede zaken</p>
                    </a>
                </li>
                <li class="active">
                    <a asp-controller="Analyse" asp-action="AnalyseBaat3">
                        <h4 class="list-group-item-heading">Stap 3</h4>
                        <p>Subsidies, extra productiviteit en omzet verlies</p>
                    </a>
                </li>
                <li>
                    <a asp-controller="Analyse" asp-action="AnalyseBaat4">
                        <h4 class="list-group-item-heading">Stap 4</h4>
                        <p>Andere mogelijke besparingen</p>
                    </a>
                </li>
            </ul>
            <div class="text-center">
                <div class="col-md-12">
                    <div class="btn-group marginTopKlein" role="group">
                        <a asp-controller="Analyse" asp-action="AnalyseBaat2" class="btn btn-primary btn-lg"><img src="~/images/iconen/links.png" class="fototjeKosten2" /></a>
                        <a asp-controller="Analyse" asp-action="AnalyseOverzicht" class="btn btn-primary btn-lg"><img src="~/images/iconen/analyse_wit.png" class="fototjeKosten2" /></a>
                        <a asp-controller="Analyse" asp-action="AnalyseBaat4" class="btn btn-primary btn-lg"><img src="~/images/iconen/rechts.png" class="fototjeKosten2" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xs-12">
        <div class="col-md-12 well text-center">
            <div class="Blok1 text-center">
                <h3 class="text-left">1. Hoeveel omzet mist u doordat u personeel tekort komt?</h3>
                <table class="table table-striped text-left test marginBottomGroot">
                    <thead class="achtergrondKleurVanDeTabelHeader">
                        <tr>
                            <th class="kleineBreedte2"></th>
                            <th>Jaarbedrag Omzetverlies</th>
                            <th>Besparing</th>
                            <th class="kleineBreedte2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 1; i <= Model.AantalLijnenLijst1; i++)
                        {
                            <tr>
                                <td>@i.</td>
                                <td>@Model.Lijst1[i - 1].Bedrag.ToString("C")</td>
                                <td>@(Model.Lijst1[i - 1].Percent)%</td>
                                <td class="text-center">
                                    <a asp-controller="Analyse" asp-action="AnalyseBaat3Punt1RijAanpassen" asp-route-id="@Model.Lijst1[i - 1].KostId" class="glyphicon glyphicon-edit marginRechtsEnFloatLeft"></a>
                                    <a asp-controller="Analyse" asp-action="AnalyseBaat3Punt1RijVerwijderen" asp-route-id="@Model.Lijst1[i - 1].KostId" class="glyphicon glyphicon-remove"></a>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td class="opmaakKnopje" style="padding-top:0;">
                                <div class="SpecialeHoogteDoorNielsGemaakt">
                                    <a class="text-center toverknop marginBenedenMidden"><img src="~/images/iconen/plus.png" class="fototjeKosten" /></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <form method="post" class="invulgegevens @(Model.ToonGroep1?(Model.BevatFout?"toonFormulier":"toonFormulier animated zoomIn"):"verbergFormulier")">
                    <div class="row">
                        <h3 class="marginBenedenTitel"><u>Gegevens van de nieuwe besparing</u></h3>
                        <div class="col-md-offset-1 col-md-10">
                            <div class="marginBenedenTekstvelden">
                                <input asp-for="VolgendeLijn1" type="hidden" />
                                <span asp-validation-for="VolgendeLijn1" class="text-danger"></span>
                                <div class="marginBenedenTekstvelden vanKnopNaarInputVelden">
                                    <div class="col-md-6">
                                        <div style="float:right;">
                                            <label asp-for="Bedrag1" id="jaarbedragOmzetverlies" class="col-md-12 text-left"></label>
                                            <div class="col-xs-6 col-sm-6 col-md-12 text-center">
                                                <div class="form-group">
                                                    <input asp-for="Bedrag1" id="jaarbedragOmzetverlies" class="form-control" placeholder="Jaarbedrag Omzetverlies" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div style="float:left;">
                                            <label asp-for="Percent1" type="number" id="besparing" class="col-md-12 text-left"></label>
                                            <div class="col-xs-6 col-sm-6 col-md-12">
                                                <div class="form-group">
                                                    <input asp-for="Percent1" id="besparing" class="form-control" placeholder="Besparing in %" />
                                                    <span asp-validation-for="Percent1" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="col-md-offset-4 col-md-4 ">
                                <div class="btn-group col-md-12 margins marginBenedenKnoppen marginBovenKnoppen" role="group">
                                    <a id="vulInKnop" class="btn btn-primary col-md-6 btn-lg marginBenedenKlein fancyKnopkesLinkerKnop">Opslaan</a>
                                    <a class="btn btn-danger btn-lg col-md-6 fancyKnopkesRechterKnop annuleerKnop">Annuleren</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div>
                <img src="~/images/iconen/divider.png" class="betereMarginBeneden" />
            </div>

            <div class="Blok1 text-center">
                <h3 class="text-left">2. Hoeveel extra productiviteit denkt u te kunnen maken door inzet van mensen met een grote afstand tot de arbeidsmarkt?</h3>
                <form method="post">
                    <div class="form-group">
                        <input asp-for="Baat7" id="jaarbedrag" class="form-control" placeholder="Jaarbedrag" />
                        <span asp-validation-for="Baat7" class="text-danger"></span>
                    </div>
                    <button formaction="AnalyseBaat3Punt2" class="btn btn-primary btn-lg text-center">Vul In</button>
                </form>
            </div>

            <div>
                <img src="~/images/iconen/divider.png" class="betereMarginBeneden" />
            </div>

            <div class="Blok1 text-center">
                <h3 class="text-left">3. Welk bedrag krijgt u aan subsidie voor eventuele aanpassingen aan de werkomgeving?</h3>
                <form method="post">
                    <div class="form-group">
                        <input asp-for="Baat2" id="jaarbedrag" class="form-control" placeholder="Jaarbedrag" />
                        <span asp-validation-for="Baat2" class="text-danger"></span>
                    </div>
                    <button formaction="AnalyseBaat3Punt3" class="btn btn-primary btn-lg text-center">Vul In</button>
                </form>
            </div>
        </div>
        <div class="text-center">
            <div class="col-md-12">
                <div class="btn-group marginTopKlein" role="group">
                    <a asp-controller="Analyse" asp-action="AnalyseBaat2" class="btn btn-primary btn-lg"><img src="~/images/iconen/links.png" class="fototjeKosten2" /></a>
                    <a asp-controller="Analyse" asp-action="AnalyseOverzicht" class="btn btn-primary btn-lg"><img src="~/images/iconen/analyse_wit.png" class="fototjeKosten2" /></a>
                    <a asp-controller="Analyse" asp-action="AnalyseBaat4" class="btn btn-primary btn-lg"><img src="~/images/iconen/rechts.png" class="fototjeKosten2" /></a>
                </div>
            </div>
        </div>
    </div>

</div>