@using System.Threading.Tasks
@using Aalstprojecten2_groep4DOTNET.Models.ViewModels.Home
@model Aalstprojecten2_groep4DOTNET.Models.ViewModels.Home.TeTonenAnalysesViewModel

@{
    ViewData["Title"] = "Kairos";
}

<link rel="stylesheet" href="~/css/AnalyseBekijken.css" />
<link rel="stylesheet" href="~/css/analyseDetail.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="~/js/Search.js"></script>

<h2>Archief - Gemaakte Analyses</h2>
<hr />


<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group">


                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">Geen filter</span> <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#contains">Optie 1</a></li>
                            <li><a href="#its_equal">Optie 2</a></li>
                            <li><a href="#greather_than">Optie 3</a></li>
                            <li><a href="#less_than">Optie 4</a></li>
                            <li class="divider"></li>
                            <li><a href="#all">All</a></li>
                        </ul>

                    </div>


                    <input type="hidden" name="search_param" value="all" id="search_param">
                    <div class="col-lg-12">
                        <input type="text" class="form-control fixVoorBreedte" name="x" placeholder="Search">
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


@if (Model.IsLeeg)
{
    <p>Er zijn geen gearchiveerde analyses.</p>
}
else
{
    foreach (AnalyseOverzichtViewModel item in Model.Analyses)
    {
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="col-lg-12 col-md-12 col-sm-12 omlijn borderRadius">
                <div class="col-lg-12 col-md-12 col-sm-12 verhoogPaddingZijkant verhoogPaddingTitel kaartjeHeading borderRadiusTop">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        @*logo werkgever*@
                        <img class="img-responsive mijnLogo" src="~/images/analyseOverzicht/Carrefour.png" alt="meh" />
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 werkgeverTekst">
                        @*naam werkgever*@
                        <strong>@item.Organisatie</strong>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 iconen">
                        @*knoppen downloaden versturen verwijderen*@
                        <div class="icoon">
                            <a><img class="img-responsive img-rounded mijnIcoon" src="~/images/iconen/send.png" alt="meh" /></a>
                        </div>

                        <div class="icoon">
                            <a asp-controller="Analyse" asp-action="Delete" asp-route-id="@item.Id"><img class="img-responsive img-rounded mijnIcoon" src="~/images/iconen/bin.png" alt="meh" /></a>
                        </div>
                        <div class="icoon">
                            <a><img class="img-responsive img-rounded mijnIcoon" src="~/images/iconen/download.png" alt="meh" /></a>
                        </div>
                        <div class="icoon">
                            <a asp-controller="Analyse" asp-action="DeArchiveer" asp-route-id="@item.Id"><img class="img-responsive img-rounded mijnIcoon" src="~/images/iconen/archiveren.png" alt="meh" /></a>
                        </div>
                    </div>
                </div>
                @*informatie*@
                <div class="col-lg-12 col-md-12 col-sm-12 omlijnBoven verhoogPaddingZijkant verhoogPaddingBovenOnder achtergrondKleurtje">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="infoTekst">
                            <u><strong>Afdeling</strong></u>
                        </div>
                        <div class="infoTekst">
                            <strong>@item.Afdeling</strong>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="infoTekst">
                            <u><strong>Locatie</strong></u>
                        </div>
                        <div class="infoTekst">
                            <strong>@item.Locatie</strong>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="infoTekst">
                            <u><strong>Gewijzigd Op</strong></u>
                        </div>
                        <div class="infoTekst">
                            <strong>@string.Format("{0:dd/MM/yyyy}", item.GewijzigdOp)</strong>
                        </div>
                    </div>
                </div>
                @*resultaten*@
                <div class="col-lg-12 col-md-12 col-sm-12 verhoogPaddingZijkant achtergrondKleurtje">
                    <div>
                        <div class="kosten text-left" style="width:50%; float:left;">
                            <strong>Kosten</strong>
                        </div>
                        <div class="baten text-right" style="width:50%; float:right;">
                            <strong>Baten</strong>
                        </div>
                    </div>

                    <div class="helft" style="width: @item.KostenBalk%;">
                        <div class="kostenBalk">

                        </div>
                    </div>
                    <div class="helft" style="width: @item.BatenBalk%;">

                        <div class="batenBalk">

                        </div>
                    </div>

                    <div>
                        <div class="kosten text-left" style="width:50%; float:left;">
                            <strong>@item.KostenResultaat.ToString("C")</strong>
                        </div>
                        <div class="baten text-right" style="width:50%; float:right">
                            <strong>@item.BatenResultaat.ToString("C")</strong>
                        </div>
                    </div>
                </div>


                @if (item.NettoResultaat == 0)
                {
                    <div class="col-lg-12 col-md-12 col-sm-12 resultaat borderRadiusDown" style="background-color: lightgray;">
                        <strong>@item.NettoResultaat.ToString("C")</strong>
                    </div>
                }
                else if (item.NettoResultaat > 0)
                {
                    <div class="col-lg-12 col-md-12 col-sm-12 resultaat borderRadiusDown" style="background-color: #9fdf9f;">
                        <strong>@item.NettoResultaat.ToString("C")</strong>
                    </div>
                }
                else
                {
                    <div class="col-lg-12 col-md-12 col-sm-12 resultaat borderRadiusDown" style="background-color: #ff6666;">
                        <strong>@((item.NettoResultaat * -1).ToString("C"))</strong>
                    </div>
                }



            </div>
        </div>
    }
}