@model Aalstprojecten2_groep4DOTNET.Models.ViewModels.AnalyseViewModels.AnalyseBaat1ViewModel

@{
    ViewData["Title"] = "Kairos";
}

<link rel="stylesheet" href="~/css/AnalyseBekijken.css" />
<link rel="stylesheet" href="~/css/Baat1.css" />
<link rel="stylesheet" href="~/css/ShowHideFormulier.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="~/js/tableScriptBaten.js"></script>
<script src="~/js/ShowHideFormulier.js"></script>
<script src="~/js/KostEnBaatVulIn/Baat1.js"></script>

<div class="row">
    <div class="col-md-3">
        <h2><a asp-controller="Analyse" asp-action="WerkgeverAanpassen">@ViewData["werkgever"]</a></h2>
    </div>
    <div class="col-md-6 text-center">
        <h2>Baten</h2>
    </div>
    <div class="col-md-3" style="padding-top: 20px;">
        <a asp-controller="Analyse" asp-action="AnalyseOverzicht">
            <img style="margin-left: 20px; max-height: 30px; max-width: 50px; min-height: 30px; float: right;" src="~/images/iconen/overview.png" />
        </a>

    </div>
</div>
<div>
    <h5></h5>
    <hr />
</div>

<div class="container">
    <div class="row form-group">
        <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                <li class="active">
                    <a asp-controller="Analyse" asp-action="AnalyseBaat1">
                        <h4 class="list-group-item-heading">Stap 1</h4>
                        <p>Lonen die vervangen worden</p>
                    </a>
                </li>
                <li>
                    <a asp-controller="Analyse" asp-action="AnalyseBaat2">
                        <h4 class="list-group-item-heading">Stap 2</h4>
                        <p>Uitzendkrachten, overuren en uitbesteede zaken</p>
                    </a>
                </li>
                <li>
                    <a asp-controller="Analyse" asp-action="AnalyseBaat3">
                        <h4 class="list-group-item-heading">Stap 3</h4>
                        <p>Subsidies, extra productiviteit en omzet verlies</p>
                    </a>
                </li>
                <li>
                    <a asp-controller="Analyse" asp-action="AnalyseBaat4">
                        <h4 class="list-group-item-heading">Stap 4</h4>
                        <p>Andere mogelijke besparingen</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="col-md-12 well text-center">
            <div class="Blok1 text-center">
                <h3 class="text-left">1. Vul hier de lonen op hetzelfde niveau in die mogelijk vervangen worden, met het geschatte aantal uren dat per week weggehaald wordt.</h3>
                <table class="table table-bordered text-left" id="tableAddRow" style="margin-bottom: 55px;">
                    <thead>
                        <tr>
                            <th style="width:5%;"></th>
                            <th>Uren</th>
                            <th>Bruto Maandloon Fulltime</th>
                            <th style="width:5%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 1; i <= Model.AantalLijnenLijst1; i++)
                        {
                            <tr id="tr_0">
                                <td>@i.</td>
                                <td>@Model.Lijst1[i - 1].Uren</td>
                                <td>@Model.Lijst1[i - 1].Maandloon.ToString("C")</td>
                                <td class="text-center">
                                    <a asp-controller="Analyse" asp-action="AnalyseBaat1Punt1RijAanpassen" asp-route-id="@Model.Lijst1[i - 1].KostId" class="glyphicon glyphicon-edit" style="margin-right: 5px; float: left;"></a>
                                    <a asp-controller="Analyse" asp-action="AnalyseBaat1Punt1RijVerwijderen" asp-route-id="@Model.Lijst1[i - 1].KostId" class="glyphicon glyphicon-remove"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <button class="btn btn-primary btn-lg text-center toverknop" style="margin-bottom:20px;">Nieuw Loon</button>
                <form method="post" class="invulgegevens @(Model.ToonGroep1?(Model.BevatFout?"toonFormulier":"toonFormulier animated zoomIn"):"verbergFormulier")">
                    <h3>Gegevens van het nieuw loon</h3>
                    <input asp-for="VolgendeLijn1" type="hidden" />
                    <span asp-validation-for="VolgendeLijn1" class="text-danger"></span>
                    <div class="invulveldjes1" style="width:100%; height: 100px; float:left; padding-left:23%;">
                        <div class="form-group" style="float: left; margin-right: 50px;">
                            <input asp-for="Uren1" type="number" id="uren1" class="form-control" placeholder="Uren" />
                            <span asp-validation-for="Uren1" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="float: left; margin-right:50px;">
                            <input asp-for="Maandloon1" id="brutoMaandloonFulltime1" class="form-control" placeholder="Bruto maandloon fulltime" />
                            <span asp-validation-for="Maandloon1" class="text-danger"></span>
                        </div>

                    </div>

                    <a id="vulInKnop1" class="btn btn-primary btn-lg text-center">Vul In</a>
                    <a class="btn btn-primary btn-lg text-center annuleerKnop">Annuleer</a>
                </form>
            </div>

            <div class="Blok1 text-center">
                <h3 class="text-left">2. Vul hier de lonen op een hoger niveau in die mogelijk vervangen worden, met het geschatte aantal uren dat per week weggehaald wordt.</h3>
                <table class="table table-bordered" id="tableAddRow2" style="margin-bottom: 55px;">
                    <thead>
                    <tr>
                        <th style="width:5%;"></th>
                        <th>Uren</th>
                        <th>Bruto Maandloon Fulltime</th>
                        <th style="width:5%;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (var i = 1; i <= Model.AantalLijnenLijst2; i++)
                    {
                        <tr id="tr_0">
                            <td>@i.</td>
                            <td>@Model.Lijst2[i - 1].Uren</td>
                            <td>@Model.Lijst2[i - 1].Maandloon.ToString("C")</td>
                            <td class="text-center">
                                <a asp-controller="Analyse" asp-action="AnalyseBaat1Punt2RijAanpassen" asp-route-id="@Model.Lijst2[i - 1].KostId" class="glyphicon glyphicon-edit" style="margin-right: 5px; float: left;"></a>
                                <a asp-controller="Analyse" asp-action="AnalyseBaat1Punt2RijVerwijderen" asp-route-id="@Model.Lijst2[i - 1].KostId" class="glyphicon glyphicon-remove"></a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>

                <button class="btn btn-primary btn-lg text-center toverknop" style="margin-bottom:20px;">Nieuw Loon</button>
                <form method="post" class="invulgegevens @(Model.ToonGroep2?(Model.BevatFout?"toonFormulier":"toonFormulier animated zoomIn"):"verbergFormulier")">
                    <h3>Gegevens van het nieuw loon</h3>
                    <input asp-for="VolgendeLijn2" type="hidden" />
                    <span asp-validation-for="VolgendeLijn2" class="text-danger"></span>
                    <div class="invulveldjes1" style="width:100%; height: 100px; float:left; padding-left:23%;">
                        <div class="form-group" style="float: left; margin-right: 50px;">
                            <input asp-for="Uren2" type="number" id="uren2" class="form-control" placeholder="Uren" />
                            <span asp-validation-for="Uren2" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="float: left; margin-right:50px;">
                            <input asp-for="Maandloon2" id="brutoMaandloonFulltime2" class="form-control" placeholder="Bruto maandloon fulltime" />
                            <span asp-validation-for="Maandloon2" class="text-danger"></span>
                        </div>

                    </div>

                    <a id="vulInKnop2" class="btn btn-primary btn-lg text-center">Vul In</a>
                    <a class="btn btn-primary btn-lg text-center annuleerKnop">Annuleer</a>
                </form>
            </div>
            <a asp-controller="Analyse" asp-action="AnalyseKost4" class="btn btn-primary btn-lg">Vorige</a>
            <a asp-controller="Analyse" asp-action="AnalyseOverzicht" class="btn btn-primary btn-lg">Overzicht</a>
            <a asp-controller="Analyse" asp-action="AnalyseBaat2" class="btn btn-primary btn-lg">Volgende</a>
        </div>
    </div>
</div>