@using System.Threading.Tasks
@using Aalstprojecten2_groep4DOTNET.Models.ViewModels.Home
@model Aalstprojecten2_groep4DOTNET.Models.ViewModels.Home.TeTonenAnalysesViewModel

@{
    ViewData["Title"] = "Kairos";
}


<link rel="stylesheet" href="~/css/analyseDetail.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="~/js/Search.js"></script>
<script src="~/js/Archief.js"></script>
<link rel="stylesheet" href="~/css/AnalyseBekijken.css" />

<h2>Archief - Gemaakte Analyses</h2>
<hr />


<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-left">
                <form method="post">
                    <div class="input-group col-md-12" id="adv-search">
                        <input type="text" id="searchBarMetMeerShtijlDanDieVanNiels" class="form-control" placeholder="Welke organisatie zoekt u?" />




                        <div class="input-group-btn">
                            <div class="btn-group" role="group">
                                <div class="dropdown2 dropdown-lg">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                                        <div class="form-horizontal" role="form">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <label class="col-md-12">Organisatie</label>
                                                        <input id="organisatieVeld" class="form-control col-md-12 veldjesGroote" type="text" placeholder="Naam organisatie" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <label class="col-md-12">Afdeling</label>
                                                        <input id="afdelingVeld" class="form-control col-md-10 veldjesGroote" type="text" placeholder="Naam afdeling" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <label class="col-md-12">Locatie</label>
                                                        <input id="locatieVeld" class="form-control col-md-10 veldjesGroote" type="text" placeholder="Locatie" />
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@if (Model.IsLeeg)
{
    <p>Er zijn geen gearchiveerde analyses.</p>
}
else
{
    foreach (AnalyseOverzichtViewModel item in Model.Analyses)
    {
        <div class="col-lg-4 col-md-6 col-sm-12 cards">
            <div class="col-lg-12 col-md-12 col-sm-12 omlijn borderRadius">
                <div class="col-lg-12 col-md-12 col-sm-12 verhoogPaddingZijkant verhoogPaddingTitel kaartjeHeading borderRadiusTop">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        @*logo werkgever*@
                        <img class="img-responsive mijnLogo" src="~/images/analyseOverzicht/Carrefour.png" alt="meh" />
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 werkgeverTekst">
                        @*naam werkgever*@
                        <strong id="naam">@item.Organisatie</strong>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 iconen">
                        <div class="icoon binIcoon">
                            <a asp-controller="Analyse" asp-action="Delete" asp-route-id="@item.Id"><img class="img-responsive img-rounded mijnIcoon binPrent" src="~/images/iconen/bin.png" alt="meh" /></a>
                        </div>                    
    @*knoppen downloaden versturen verwijderen*@
                        <div class="icoon sendIcoon">
                            <a><img class="img-responsive img-rounded mijnIcoon sendPrent" src="~/images/iconen/send.png" alt="meh" /></a>
                        </div>

                        
                        <div class="icoon downloadIcoon">
                            <a><img class="img-responsive img-rounded mijnIcoon downloadPrent" src="~/images/iconen/download.png" alt="meh" /></a>
                        </div>
                        <div class="icoon deArchiveerIcoon">
                            <a asp-controller="Analyse" asp-action="DeArchiveer" asp-route-id="@item.Id"><img class="img-responsive img-rounded mijnIcoon deArchiveerPrent" src="~/images/iconen/unarchive.png" alt="meh" /></a>
                        </div>
                    </div>
                </div>
                @*informatie*@
                <div class="col-lg-12 col-md-12 col-sm-12 omlijnBoven verhoogPaddingZijkant verhoogPaddingBovenOnder achtergrondKleurtje">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="infoTekst">
                            <u><strong>Afdeling</strong></u>
                        </div>
                        <div class="infoTekst">
                            <strong id="afdeling">@item.Afdeling</strong>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="infoTekst">
                            <u><strong>Locatie</strong></u>
                        </div>
                        <div class="infoTekst">
                            <strong id="locatie">@item.Locatie</strong>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="infoTekst">
                            <u><strong>Gewijzigd Op</strong></u>
                        </div>
                        <div class="infoTekst">
                            <strong>@string.Format("{0:dd/MM/yyyy}", item.GewijzigdOp)</strong>
                        </div>
                    </div>
                </div>
                @*resultaten*@
                <div class="col-lg-12 col-md-12 col-sm-12 verhoogPaddingZijkant achtergrondKleurtje">
                    <div>
                        <div class="kosten text-left" style="width:50%; float:left;">
                            <strong>Kosten</strong>
                        </div>
                        <div class="baten text-right" style="width:50%; float:right;">
                            <strong>Baten</strong>
                        </div>
                    </div>

                    @if (item.KostenResultaat == 0 && item.BatenResultaat == 0)
                    {
                        <div class="helft" style="width: 50%;">

                            <div class="batenBalk3">

                            </div>
                        </div>

                        <div class="helft" style="width:50%;">
                            <div class="kostenBalk2">

                            </div>
                        </div>

                    }
                    else if (item.KostenResultaat == 0)
                    {
                        <div class="helft" style="width: 100%;">

                            <div class="batenBalk2">

                            </div>
                        </div>
                    }
                    else if (item.BatenResultaat == 0)
                    {
                        <div class="helft" style="width:100%;">
                            <div class="kostenBalk2">

                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="helft" style="width: @item.KostenBalk%;">
                            <div class="kostenBalk">

                            </div>
                        </div>
                        <div class="helft" style="width: @item.BatenBalk%;">

                            <div class="batenBalk">

                            </div>
                        </div>
                    }

                    <div>
                        <div class="kosten text-left" style="width:50%; float:left;">
                            <strong>@item.KostenResultaat.ToString("C")</strong>
                        </div>
                        <div class="baten text-right" style="width:50%; float:right">
                            <strong>@item.BatenResultaat.ToString("C")</strong>
                        </div>
                    </div>
                </div>


                @if (item.NettoResultaat == 0)
                {
                    <div class="col-lg-12 col-md-12 col-sm-12 resultaat borderRadiusDown" style="background-color: lightgray;">
                        <strong>@item.NettoResultaat.ToString("C")</strong>
                    </div>
                }
                else if (item.NettoResultaat > 0)
                {
                    <div class="col-lg-12 col-md-12 col-sm-12 resultaat borderRadiusDown" style="background-color: #9fdf9f;">
                        <strong>@item.NettoResultaat.ToString("C")</strong>
                    </div>
                }
                else
                {
                    <div class="col-lg-12 col-md-12 col-sm-12 resultaat borderRadiusDown" style="background-color: #ff6666;">
                        <strong>@((item.NettoResultaat * -1).ToString("C"))</strong>
                    </div>
                }



            </div>
        </div>
    }
}