@using System.Threading.Tasks
@using Aalstprojecten2_groep4DOTNET.Models.ViewModels.Home
@model Aalstprojecten2_groep4DOTNET.Models.ViewModels.Home.TeTonenAnalysesViewModel

@{
    ViewData["Title"] = "Kairos";
}

<link rel="stylesheet" href="~/css/AnalyseBekijken.css" />
<link rel="stylesheet" href="~/css/analyseDetail.css" />
<script src="~/js/AnalyseToolbar.js"></script>

<h2>Archief - Gemaakte Analyses</h2>
<hr />

<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Analyse" asp-action="WerkgeverKeuze"><img class="img-circle img-responsive mijnLogo opschuiven" src="~/images/iconen/toevoegen.png" alt="meh" /></a>
            </li>

            <li>
                <img class="img-circle img-responsive mijnLogo opschuiven" src="~/images/iconen/search.png" alt="meh" />
            </li>

        </ul>
    </div>
</div>


@if (Model.IsLeeg)
{
    <p>Er zijn geen gearchiveerde analyses.</p>
}
else
{
    foreach (AnalyseOverzichtViewModel item in Model.Analyses)
    {
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="col-lg-12 col-md-12 col-sm-12 omlijn">
                <div class="col-lg-12 col-md-12 col-sm-12 verhoogPaddingZijkant verhoogPaddingTitel kaartjeHeading">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        @*logo werkgever*@
                        <img class="img-circle img-responsive mijnLogo" src="~/images/analyseOverzicht/Carrefour.png" alt="meh" />
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 werkgeverTekst">
                        @*naam werkgever*@
                        <strong>@item.Organisatie</strong>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 iconen">
                        @*knoppen downloaden versturen verwijderen*@
                        <div class="icoon">
                            <a asp-controller="Analyse" asp-action="Delete" asp-route-id="@item.Id"><img class="img-responsive img-rounded mijnIcoon" src="~/images/analyseOverzicht/delete.png" alt="meh" /></a>
                        </div>
                        <div class="icoon">
                            <a asp-controller="Analyse" asp-action="DeArchiveer" asp-route-id="@item.Id"><img class="img-responsive img-rounded mijnIcoon" src="~/images/analyseOverzicht/send.png" alt="meh" /></a>
                        </div>
                        <div class="icoon">
                            <a><img class="img-responsive img-rounded mijnIcoon" src="~/images/analyseOverzicht/save.png" alt="meh" /></a>
                        </div>
                    </div>
                </div>
                @*informatie*@
                <div class="col-lg-12 col-md-12 col-sm-12 omlijnBoven verhoogPaddingZijkant verhoogPaddingBovenOnder achtergrondKleurtje">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="infoTekst">
                            <u><strong>Afdeling</strong></u>
                        </div>
                        <div class="infoTekst">
                            <strong>@item.Afdeling</strong>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="infoTekst">
                            <u><strong>Locatie</strong></u>
                        </div>
                        <div class="infoTekst">
                            <strong>@item.Locatie</strong>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="infoTekst">
                            <u><strong>Gewijzigd Op</strong></u>
                        </div>
                        <div class="infoTekst">
                            <strong>@string.Format("{0:dd/MM/yyyy}", item.GewijzigdOp)</strong>
                        </div>
                    </div>
                </div>
                @*resultaten*@
                <div class="col-lg-12 col-md-12 col-sm-12 verhoogPaddingZijkant achtergrondKleurtje">
                    <div class="helft" style="width: @item.KostenBalk%;">
                        <div class="kosten">
                            <strong>Kosten</strong>
                        </div>
                        <div class="kostenBalk">
                            <strong>@item.KostenResultaat.ToString("C")</strong>
                        </div>
                    </div>
                    <div class="helft" style="width: @item.BatenBalk%;">
                        <div class="baten">
                            <strong>Baten</strong>
                        </div>
                        <div class="batenBalk">
                            <strong>@item.BatenResultaat.ToString("C")</strong>
                        </div>
                    </div>
                </div>


                @if (item.NettoResultaat >= 0)
                {
                    <div class="col-lg-12 col-md-12 col-sm-12 resultaat" style="background-color: #9fdf9f;">
                        <strong>@item.NettoResultaat.ToString("C")</strong>
                    </div>
                }
                else
                {
                    <div class="col-lg-12 col-md-12 col-sm-12 resultaat" style="background-color: #ff6666;">
                        <strong>@(item.NettoResultaat * -1).ToString("C")</strong>
                    </div>
                }



            </div>
        </div>
    }
}