@model Aalstprojecten2_groep4DOTNET.Models.ViewModels.AnalyseViewModels.AnalyseKost2ViewModel

@{
    ViewData["Title"] = "Kairos";
}

<link rel="stylesheet" href="~/css/AnalyseBekijken.css" />
<link rel="stylesheet" href="~/css/Baat1.css" />
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<link rel="stylesheet" href="~/css/ShowHideFormulier.css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="~/js/tableScript.js"></script>
<script src="~/js/ShowHideFormulier.js"></script>

<div class="row">
    <div class="col-md-9">
        <h2>Nieuwe Analyse - Kosten</h2>

    </div>
    <div class="col-md-3" style="padding-top:20px;">
        <a asp-controller="Analyse" asp-action="AnalyseOverzicht">
            <img style="margin-left: 20px; max-height:30px; max-width: 50px; min-height: 30px; float:right;" src="~/images/iconen/overview.png" />
        </a>
    </div>
</div>
<div>
    <h5></h5>
    <hr />
</div>

<div class="container">
    <div class="row form-group">
        <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                <li>
                    <a asp-controller="Analyse" asp-action="AnalyseKost">
                        <h4 class="list-group-item-heading">Stap 1</h4>
                        <p>Nieuwe functies</p>
                    </a>
                </li>
                <li class="active">
                    <a asp-controller="Analyse" asp-action="AnalyseKost2">
                        <h4 class="list-group-item-heading">Stap 2</h4>
                        <p class="list-group-item-text">Kosten aan maatwerkbedrijf via enclave of onderaanneming</p>
                    </a>
                </li>
                <li>
                    <a asp-controller="Analyse" asp-action="AnalyseKost3">
                        <h4 class="list-group-item-heading">Stap 3</h4>
                        <p class="list-group-item-text">Extra structureel en materiaal huur</p>
                    </a>
                </li>
                <li>
                    <a asp-controller="Analyse" asp-action="AnalyseKost4">
                        <h4 class="list-group-item-heading">Stap 4</h4>
                        <p class="list-group-item-text">Extra structureel en materiaal huur</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="col-md-12 well text-center">
            <div class="Blok1 text-center">
                <h3 class="text-left">1. Hoeveel betaalt u als u werk laten uitvoeren door maatwerkbedrijf via enclave of onderaanneming?</h3>
                <table class="table table-bordered text-left" id="tableAddRow2" style="margin-bottom: 55px;">
                    <thead>
                        <tr>
                            <th style="width:5%"></th>
                            <th>Beschrijving</th>
                            <th>Jaarbedrag</th>
                            <th style="width:5%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 1; i <= Model.AantalLijnenLijst; i++)
                        {
                            <tr id="tr_0">
                                <td>@i.</td>
                                <td>@Model.Lijst[i - 1].Beschrijving</td>
                                <td>@Model.Lijst[i - 1].Bedrag.ToString("C")</td>
                                <td class="text-center">
                                    <a asp-controller="Analyse" asp-action="AnalyseKost2RijAanpassen" asp-route-id="@Model.Lijst[i - 1].KostId" class="glyphicon glyphicon-edit" style="margin-right: 5px; float: left;"></a>
                                    <a asp-controller="Analyse" asp-action="AnalyseKost2RijVerwijderen" asp-route-id="@Model.Lijst[i - 1].KostId" class="glyphicon glyphicon-remove"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button class="btn btn-primary btn-lg text-center toverknop" style="margin-bottom:20px;">Nieuwe Enclave</button>
                <form asp-controller="Analyse" asp-action="AnalyseKost2" class="invulgegevens @(Model.ToonGroep1?"toonFormulier":"verbergFormulier")" method="post">
                    <h3>Gegevens van de nieuwe functie</h3>
                    <input asp-for="VolgendeLijn" type="hidden"/>
                    <span asp-validation-for="VolgendeLijn" class="text-danger"></span>
                    <div class="invulveldjes1" style="width:100%; height: 100px; float:left; padding-left:30%;">
                        <div class="form-group" style="float:left; margin-right: 50px;">
                            <input asp-for="Beschrijving" id="beschrijving" class="form-control" placeholder="Beschrijving van de functie" />
                            <span asp-validation-for="Beschrijving" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="float:left;">
                            <input asp-for="Bedrag" type="number" id="jaarbedrag" class="form-control" placeholder="Jaarbedrag van de functie" />
                            <span asp-validation-for="Bedrag" class="text-danger"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg text-center">Vul In</button>
                    <a class="btn btn-primary btn-lg text-center annuleerKnop">Annuleer</a>
                </form>
            </div>
            <a asp-controller="Analyse" asp-action="AnalyseKost3" class="btn btn-primary btn-lg">Volgende</a>
        </div>
    </div>







</div>