@model Aalstprojecten2_groep4DOTNET.Models.ViewModels.AnalyseViewModels.AnalyseKost3ViewModel

@{
    ViewData["Title"] = "Kairos";
}

<link rel="stylesheet" href="~/css/AnalyseBekijken.css" />
<link rel="stylesheet" href="~/css/Baat1.css" />
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<link rel="stylesheet" href="~/css/ShowHideFormulier.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="~/js/tableScript.js"></script>
<script src="~/js/ShowHideFormulier.js"></script>
<script src="~/js/KostEnBaatVulIn/Kost3.js"></script>
<link rel="stylesheet" href="~/css/FixVoorHeader.css" />

<div class="row">
    <div class="col-md-3 tooltip diepte2">
        <h2 class="titelFix"><a asp-controller="Analyse" asp-action="WerkgeverAanpassen">@ViewData["werkgever"]</a></h2>
        <span class="tooltiptext tooltipBottomAnalyseOverzichtWerkgeverAanpassen">Via deze titel kan u de werkgever zijn gegevens aanpassen</span>

    </div>
    <div class="col-md-6 text-center">
        <h2 class="titelFix">Kosten</h2>
    </div>
    <div class="col-md-3 text-right">
        <div class="btn-group marginTopKlein tooltip" role="group">
            <a asp-controller="Analyse" asp-action="AnalyseKost" class="btn btn-primary btn-lg"><img src="~/images/iconen/kosten_wit.png" class="fototjeKosten" /></a>
            <a asp-controller="Analyse" asp-action="AnalyseOverzicht" class="btn btn-primary btn-lg"><img src="~/images/iconen/analyse_wit.png" class="fototjeKosten" /></a>
            <a asp-controller="Analyse" asp-action="AnalyseBaat1" class="btn btn-primary btn-lg"><img src="~/images/iconen/baten_wit.png" class="fototjeKosten" /></a>
            <span class="tooltiptext tooltipLeftHomePageDropdown">Hier kan u schakelen tussen de pagina's kosten, overzicht en baten</span>

        </div>
    </div>
</div>
<div>
    <h5></h5>
    <hr />
</div>

<div class="container">
    <div class="row form-group">
        <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified thumbnail setup-panel tooltip">
                <li>
                    <a asp-controller="Analyse" asp-action="AnalyseKost">
                        <h4 class="list-group-item-heading">Stap 1</h4>
                        <p>Nieuwe functies</p>
                    </a>
                </li>
                <li>
                    <a asp-controller="Analyse" asp-action="AnalyseKost2">
                        <h4 class="list-group-item-heading">Stap 2</h4>
                        <p>Kosten aan maatwerkbedrijf via enclave of onderaanneming</p>
                    </a>
                    <span class="tooltiptext tooltipBottomMenuAnalyseKostInvullen">Door hier te klikken kan u wisselen naar de gewenste vragenreeks</span>

                </li>
                <li class="active">
                    <a asp-controller="Analyse" asp-action="AnalyseKost3">
                        <h4 class="list-group-item-heading">Stap 3</h4>
                        <p>Extra structureel en materiaal huur</p>
                    </a>
                </li>
                <li>
                    <a asp-controller="Analyse" asp-action="AnalyseKost4">
                        <h4 class="list-group-item-heading">Stap 4</h4>
                        <p>Extra structureel en materiaal huur</p>
                    </a>
                </li>
            </ul>
            <div class="text-center">
                <div class="col-md-12">
                    <div class="btn-group marginTopKlein tooltip" role="group">
                        <a asp-controller="Analyse" asp-action="AnalyseKost2" class="btn btn-primary btn-lg"><img src="~/images/iconen/links.png" class="fototjeKosten2" /></a>
                        <a asp-controller="Analyse" asp-action="AnalyseOverzicht" class="btn btn-primary btn-lg"><img src="~/images/iconen/analyse_wit.png" class="fototjeKosten2" /></a>
                        <a asp-controller="Analyse" asp-action="AnalyseKost4" class="btn btn-primary btn-lg"><img src="~/images/iconen/rechts.png" class="fototjeKosten2" /></a>
                        <span class="tooltiptext tooltipBottomAnalyseInvullenVolgendePagina">Hier kan u schakelen tussen de pagina's kosten, overzicht en baten</span>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="col-md-12 well text-center">
            <div class="Blok1 text-center">
                <h3 class="text-left">1. Welke extra kosten moet u structureel extra maken voor deze inhuur?</h3>
                <h4 class="text-left">(alleen kosten zoals werkkleding bij normale inhuur en bij reshoring alle kosten)</h4>

                    <table class="table table-striped text-left marginBenedenGroot">
                        <thead class="achtergrondKleurVanDeTabelHeader">
                            <tr>
                                <th class="kleineBreedte2"></th>
                                <th>Type</th>
                                <th>Bedrag</th>
                                <th class="kleineBreedte2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 1; i <= Model.AantalLijnenLijst1; i++)
                            {
                                <tr id="tr_0">
                                    <td style="display: none;">@Model.Lijst1[i - 1].KostId</td>
                                    <td>@i.</td>
                                    <td>@Model.Lijst1[i - 1].Beschrijving</td>
                                    <td>@Model.Lijst1[i - 1].Bedrag.ToString("C")</td>
                                    <td class="text-center tooltip">
                                        <a class="glyphicon glyphicon-edit marginRechtsEnFloatLeft editKnop1"></a>
                                        <a asp-controller="Analyse" asp-action="AnalyseKost3Punt1RijVerwijderen" asp-route-id="@Model.Lijst1[i - 1].KostId" class="glyphicon glyphicon-remove"></a>
                                        @if (i == 1)
                                        {
                                            <span class="tooltiptext tooltipLefAnalyseInvullenTabelAanpassenVerwijderen">U kan een rij aanpassen of verwijderen</span>
                                        }
                                    </td>
                                </tr>
                            }

                            <tr>
                                <td class="opmaakKnopje" style="padding-top:0;">
                                    <div class="SpecialeHoogteDoorNielsGemaakt tooltip">
                                        <a class="text-center toverknop marginBenedenMidden"><img src="~/images/iconen/plus.png" class="fototjeKosten" /></a>
                                        <span class="tooltiptext tooltipRightPlusIcoon">Met de plus kan u een rij toevoegen</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                <form method="post" class="invulgegevens @(Model.ToonGroep1?(Model.BevatFout?"toonFormulier":"toonFormulier animated zoomIn"):"verbergFormulier")">

                    <div class="row">
                        <h3 class="marginBenedenTitel"><u>Gegevens van de nieuwe inhuur</u></h3>
                        <div class="col-md-offset-1 col-md-10">
                            <div class="marginBenedenTekstvelden">
                                <input asp-for="VolgendeLijn1" id="volgendeLijn1" type="hidden" />
                                <span asp-validation-for="VolgendeLijn1" class="text-danger"></span>
                                <div class="marginBenedenTekstvelden vanKnopNaarInputVelden">
                                    <div class="col-md-6">
                                        <div style="float:right;">
                                            <label asp-for="Beschrijving1" class="col-md-12 text-left"></label>
                                            <div class="col-xs-6 col-sm-6 col-md-12 text-center">
                                                <div class="form-group">
                                                    <input asp-for="Beschrijving1" id="type1" class="form-control" placeholder="Type van inhuur" />
                                                    <span asp-validation-for="Beschrijving1" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div style="float:left;">
                                            <label asp-for="Bedrag1" type="number" class="col-md-12 text-left"></label>
                                            <div class="col-xs-6 col-sm-6 col-md-12">
                                                <div class="form-group">
                                                    <input asp-for="Bedrag1" id="Bedrag1" class="form-control" placeholder="Bedrag van de inhuur" />
                                                    <span asp-validation-for="Bedrag1" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="col-md-offset-4 col-md-4 ">
                                <div class="btn-group col-md-12 margins marginBenedenKnoppen marginBovenKnoppen" role="group">
                                    <a id="vulInKnop1" class="btn btn-primary col-md-6 btn-lg marginBenedenKlein fancyKnopkesLinkerKnop">Opslaan</a>
                                    <a class="btn btn-danger btn-lg col-md-6 fancyKnopkesRechterKnop annuleerKnop">Annuleren</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div>
                <img src="~/images/iconen/divider.png" class="betereMarginBeneden" />
            </div>

            <div class="Blok1 text-center">
                <h3 class="text-left">2. Welke kosten moet u structureel jaarlijks extra maken voor deze inhuur?</h3>
                <h4 class="text-left">(vul hier de gereedschapskosten ed in)</h4>
                <table class="table table-striped text-left marginBenedenGroot">
                    <thead class="achtergrondKleurVanDeTabelHeader">
                        <tr>
                            <th class="kleineBreedte2"></th>
                            <th>Type</th>
                            <th>Bedrag</th>
                            <th class="kleineBreedte2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 1; i <= Model.AantalLijnenLijst2; i++)
                        {
                            <tr id="tr_0">
                                <td style="display: none;">@Model.Lijst2[i - 1].KostId</td>
                                <td>@i.</td>
                                <td>@Model.Lijst2[i - 1].Beschrijving</td>
                                <td>@Model.Lijst2[i - 1].Bedrag.ToString("C")</td>
                                <td class="text-center">
                                    <a class="glyphicon glyphicon-edit marginRechtsEnFloatLeft editKnop2"></a>
                                    <a asp-controller="Analyse" asp-action="AnalyseKost3Punt2RijVerwijderen" asp-route-id="@Model.Lijst2[i - 1].KostId" class="glyphicon glyphicon-remove"></a>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td class="opmaakKnopje" style="padding-top:0;">
                                <div class="SpecialeHoogteDoorNielsGemaakt">
                                    <a class="text-center toverknop marginBenedenMidden"><img src="~/images/iconen/plus.png" class="fototjeKosten" /></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <form method="post" class="invulgegevens @(Model.ToonGroep2?(Model.BevatFout?"toonFormulier":"toonFormulier animated zoomIn"):"verbergFormulier")">

                    <div class="row">
                        <h3 class="marginBenedenTitel"><u>Gegevens van de nieuwe inhuur</u></h3>
                        <div class="col-md-offset-1 col-md-10">
                            <div class="marginBenedenTekstvelden">
                                <input asp-for="VolgendeLijn2" id="volgendeLijn2" type="hidden" />
                                <span asp-validation-for="VolgendeLijn2" class="text-danger"></span>
                                <div class="marginBenedenTekstvelden vanKnopNaarInputVelden">
                                    <div class="col-md-6">
                                        <div style="float:right;">
                                            <label asp-for="Beschrijving2" class="col-md-12 text-left"></label>
                                            <div class="col-xs-6 col-sm-6 col-md-12 text-center">
                                                <div class="form-group">
                                                    <input asp-for="Beschrijving2" id="type2" class="form-control" placeholder="Type van inhuur" />
                                                    <span asp-validation-for="Beschrijving2" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div style="float:left;">
                                            <label asp-for="Bedrag2" type="number" class="col-md-12 text-left"></label>
                                            <div class="col-xs-6 col-sm-6 col-md-12">
                                                <div class="form-group">
                                                    <input asp-for="Bedrag2" id="Bedrag2" class="form-control" placeholder="Bedrag van de inhuur" />
                                                    <span asp-validation-for="Bedrag2" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="col-md-offset-4 col-md-4 ">
                                <div class="btn-group col-md-12 margins marginBenedenKnoppen marginBovenKnoppen" role="group">
                                    <a id="vulInKnop2" class="btn btn-primary col-md-6 btn-lg marginBenedenKlein fancyKnopkesLinkerKnop">Opslaan</a>
                                    <a class="btn btn-danger btn-lg col-md-6 fancyKnopkesRechterKnop annuleerKnop">Annuleren</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="text-center">
                <div class="col-md-12">
                    <div class="btn-group marginTopKlein" role="group">
                        <a asp-controller="Analyse" asp-action="AnalyseKost2" class="btn btn-primary btn-lg"><img src="~/images/iconen/links.png" class="fototjeKosten2" /></a>
                        <a asp-controller="Analyse" asp-action="AnalyseOverzicht" class="btn btn-primary btn-lg"><img src="~/images/iconen/analyse_wit.png" class="fototjeKosten2" /></a>
                        <a asp-controller="Analyse" asp-action="AnalyseKost4" class="btn btn-primary btn-lg"><img src="~/images/iconen/rechts.png" class="fototjeKosten2" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>