@model Aalstprojecten2_groep4DOTNET.Models.ViewModels.AnalyseViewModels.BestaandeWerkgeverZoekenViewModel

<link rel="stylesheet" href="~/css/BestaandeWerkgever.css" />

@{
    ViewData["Title"] = "Kairos";
}

<div class="row">
    <h2 style="padding-left:5px;">Nieuwe Analyse - Bestaande werkgever</h2>
    <hr />
</div>


    <form asp-controller="Analyse" asp-action="BestaandeWerkgever" method="post" class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>

        <h3>Welke werkgever/organisatie wilt u zoeken?</h3>

        

        <div class="col-lg-12">
            @*<select id="zoekKeuze" name="zoekKeuze" class=" col-lg-4">*@
            <select asp-for="ChoiceboxWaarde" class="btn btn-default col-lg-4" style="margin-right:15px;">
                <option selected>Organisatie naam</option>
                <option>Gemeente</option>
                <option>Postcode</option>
                <option>Contactpersoon naam</option>
            </select>

            <div class="form-group col-lg-4">
                @*<label asp-for="ZoekString" class="col-md-2 control-label"></label>*@
                
                    <input asp-for="ZoekString" placeholder="Zoeken" class="form-control fixVoorBreedte col-lg-10" />
                    <span asp-validation-for="ZoekString" class="text-danger"></span>
            </div>
        </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-primary btn-default">Zoek Werkgevers</button>
                </div>
            </div>
</form>


@if (Model.HeeftAlGezocht)
{
    if (Model.IsLegeLijst)
    {
        <p>Sorry, er zijn geen werkgevers gevonden die voldoen aan uw zoekterm.</p>
    }
    else
    {
        <table class="table">
            <tr>
                <th>Organisatie naam</th>
                <th>Straat</th>
                <th>Postcode</th>
                <th>Gemeente</th>
                <th>Contact persoon</th>
            </tr>
            @foreach (var item in Model.Werkgevers)
            {
                <tr class="klikbaar" onclick="location.href = '@(Url.Action("NieuweWerkgever", "Analyse", new { Id = item.WerkgeverId }))'">
                    <td>@item.Naam</td>
                    <td>@item.Straat</td>
                    <td>@item.Postcode</td>
                    <td>@item.Gemeente</td>
                    <td>@item.ContactPersoonNaam</td>
                </tr>
            }
        </table>
    }

}